 .u-section-1 {
  background-image: url("images/download.gif");
}

.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-group-1 {
  width: 246px;
  background-image: none;
  min-height: 246px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 132px;
  min-height: 16px;
  width: 132px;
  min-width: 16px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-1 .u-group-1 {
    min-height: 340px;
  }
}